{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>WanderWheels & Homesteads</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"> 
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
</style>
<link rel="stylesheet" href="{% static 'styles.css' %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
  function showAddModal() {
    document.getElementById('addModal').style.display='block';
  }
  
  function redirectToAddPage(option) {
    if (option === 'bike') {
      window.location.href = "{% url 'bike_page' %}";
    } else if (option === 'bikestation') {
      window.location.href = "{% url 'bikestation_page' %}";
    } else if (option === 'room') {
      window.location.href = "{% url 'room_page' %}";
    } else if (option === 'homestay') {
      window.location.href = "{% url 'house_page' %}";
    }
    document.getElementById('addModal').style.display='none';
  }
  
  window.onclick = function(event) {
    var modal = document.getElementById('addModal');
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
<body>
  

  <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <div class="w3-container">
      <h3 class="w3-padding-64"><b>WanderWheels & Homesteads</b></h3>
    </div>
    <div class="w3-bar-block">
      <a href="{% url 'admin_page' %}"  class="w3-bar-item w3-button w3-hover-white">Home</a> 
      <div class="w3-dropdown-hover">
        <a href="#" class="w3-bar-item w3-button w3-hover-white" onclick="showAddModal()">Add</a>
        <div id="addModal" class="w3-dropdown-content w3-bar-block w3-card-4" style="width: 150px; left: 50%; transform: translateX(-50%);">
          <a href="#" class="w3-bar-item w3-button" onclick="redirectToAddPage('bike')">Bike</a>
          <a href="#" class="w3-bar-item w3-button" onclick="redirectToAddPage('bikestation')">Bike Station</a>
          <a href="#" class="w3-bar-item w3-button" onclick="redirectToAddPage('room')">Room</a>
          <a href="#" class="w3-bar-item w3-button" onclick="redirectToAddPage('homestay')">Homestay</a>
        </div>
      </div>
      <a href="{% url 'userdetails_page' %}" class="w3-bar-item w3-button w3-hover-white">User Details</a>
      <div class="w3-dropdown-hover">
        <a href="#" class="w3-bar-item w3-button w3-hover-white">Manage</a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'manage_page' %}" class="w3-bar-item w3-button">Manage Resource</a>
          <a href="{% url 'manage_booking' %}" class="w3-bar-item w3-button">Manage Booking</a>
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <a href="#" class="w3-bar-item w3-button w3-hover-white">Visualisation</a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'booking_analytics' %}" class="w3-bar-item w3-button">Analytics_Homestay</a>
          <a href="{% url 'bike_analytics' %}" class="w3-bar-item w3-button">Analytics_Bike</a>
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <a href="#" class="w3-bar-item w3-button w3-hover-white">Data</a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'data_page' %}" class="w3-bar-item w3-button">Data Homestay</a>
          <a href="{% url 'data_bike' %}" class="w3-bar-item w3-button">Data Bike</a>
        </div>
      </div>
      <a href="{% url 'feedback_admin' %}" class="w3-bar-item w3-button w3-hover-white">User Feedback</a>
      <a href="{% url 'front_page' %}" class="w3-bar-item w3-button w3-hover-white">Logout</a> 
    </div>
  </nav>


<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <div class="w3-container" style="margin-top:80px" id="about">
    <h1 class="w3-jumbo"><b>DATA</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>About.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

    <!-- data.html -->
<div class="w3-container">
  <h2>Predict the increase in Rent for Homestay</h2>
  <form method="post">
      {% csrf_token %}
      <label for="duration_increase">Select the Homestay:</label>
      <select name="selected_homestay" id="selected_homestay" required>
          <option value="I-ONES">I-ONES</option>
          <option value="Ivy Cottage">Ivy Cottage</option>
          <option value="Blue Heaven">Blue Heaven</option>
          <option value="Cozy Cabin">Cozy Cabin</option>
      </select>
      <label for="duration_increase">Type the increase in length of stay (%):</label>
      <input type="number" id="duration_increase" name="duration_increase" min="0" required>
      <button type="submit">Calculate</button>
  </form>
  {% if overall_increase_percent %}
  <p>The sales for {{ selected_homestay }} will increase by {{ overall_increase_percent|floatformat:2 }}% (+{{ amount_increase|floatformat:0 }}) when the length of stay is increased by {{ duration_increase }}% for one year.</p>
  {% endif %}
</div>
    
<div class="w3-container">
  <h2>sales in next year (Time Series)</h2>
  
  <form method="post" action="{% url 'data_page_ts' %}">
    {% csrf_token %}
    <label for="selected_homestay_ts">Select the Homestay:</label>
    <select name="selected_homestay_ts" id="selected_homestay_ts" required>
      <option value="I-ONES">I-ONES</option>
      <option value="Ivy Cottage">Ivy Cottage</option>
      <option value="Blue Heaven">Blue Heaven</option>
      <option value="Cozy Cabin">Cozy Cabin</option>
    </select>

    <label for="prediction_month">Select the month and year for prediction:</label>
    <input type="number" id="prediction_month" name="prediction_month" required>

    <button type="submit">Calculate</button>
  </form>
  {% if predicted_sales %}
  <p>The predicted sales for {{ selected_homestay_ts }} in the month of {{ prediction_month }} is {{ predicted_sales }}.</p>
  <p>The sales for the same month in the previous year was {{ last_year_sales|floatformat:2 }}.</p>
    {% endif %}
</div>

</div>







</body>
</html>


